<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직원목록</title>
</head>
<body>
    <h3>직원목록</h3>
    <table border = "1">
        <tr>
            <td>아이디</td>
            <td>이름</td>
            <td>휴대폰</td>
            <td>나이</td>
            <td>기타</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.uid}}</td>
            <td>{{user.name}}</td>
            <td>{{user.hp}}</td>
            <td>{{user.age}}</td>
            <td><a href="/delete">삭제</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/register">직원등록</a>
</body>
</html>